<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AIDE</title>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <!-- Bootstrap -->
  <!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	  -->
  <link href="css/bootstrap.min.css" rel="stylesheet">	  
  <link href="css/style.css" rel="stylesheet">
  <!-- Optional theme -->
  <!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  -->	
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">	 
  <link href="css/tipsy.css" rel="stylesheet">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  -->
  <script src='js/resource/jquery.min.js'></script>
  <!-- d3 package --> 
  <!--
    <script src="http://d3js.org/d3.v3.min.js"></script>  
    -->
  <script src='js/resource/d3.v3.min.js'></script>  
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
  <script src='js/resource/bootstrap.min.js'></script>

  <!-- facebook tipsy -->
  <script src="js/jquery.tipsy.js" type="text/javascript" charset="utf-8"></script>
  
	  		  
</head>

<body>
{{{ body}}}
</body>

</html>